<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="spe.gob.ec.SrvEventos" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SisMonitorCodigoPostal.SrvEventos" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="OpeDB" connectionString="metadata=res://*/ModOperaciones.csdl|res://*/ModOperaciones.ssdl|res://*/ModOperaciones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spe-g1tec-02\sql2019dev;initial catalog=Operaciones;persist security info=True;user id=usu_reportes;password=*SPE12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBIPS5" connectionString="metadata=res://*/ModIPS5.csdl|res://*/ModIPS5.ssdl|res://*/ModIPS5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.206.200\SQL2008;initial catalog=IPS5DB;user id=usu_reportes;password=*SPE12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BM" connectionString="metadata=res://*/ModBM.csdl|res://*/ModBM.ssdl|res://*/ModBM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=spe-g1tec-02\sql2019dev;initial catalog=Base_maestra;persist security info=True;user id=usu_reportes;password=*SPE12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="OpeDB" connectionString="metadata=res://*/ModOperaciones.csdl|res://*/ModOperaciones.ssdl|res://*/ModOperaciones.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.1.14;initial catalog=Operaciones;persist security info=True;user id=zonaprimaria;password=Z0n@7r1mari@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBIPS5" connectionString="metadata=res://*/ModIPS5.csdl|res://*/ModIPS5.ssdl|res://*/ModIPS5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.1.14\SQLSERVER2008;initial catalog=IPS5DB;user id=zonaprimaria;password=Z0n@7r1mari@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <spe.gob.ec.SrvEventos>
      <setting name="Tiempo" serializeAs="String">
        <value>900000</value>
      </setting>
      <setting name="HoraInicio" serializeAs="String">
        <value>07:00:00 AM</value>
      </setting>
      <setting name="HoraFin" serializeAs="String">
        <value>22:00:00 PM</value>
      </setting>
    </spe.gob.ec.SrvEventos>
    <SisMonitorCodigoPostal.SrvEventos>
      <setting name="Tiempo" serializeAs="String">
        <value>900000</value>
      </setting>
      <setting name="url_api" serializeAs="String">
        <value>http://localhost:42325/api/OrdenTrabajo?intOpcion=1</value>
      </setting>
      <setting name="RutaLog" serializeAs="String">
        <value>C:\LogServicioCodPostal\</value>
      </setting>
      <setting name="HoraInicio" serializeAs="String">
        <value>07:00:00 AM</value>
      </setting>
      <setting name="HoraFin" serializeAs="String">
        <value>19:00:00 PM</value>
      </setting>
    </SisMonitorCodigoPostal.SrvEventos>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>